html {
  font-size: 18px;
}

@media (min-width: 48em) {
  body > .content.container {
    max-width: 40rem;
  }
}

.highlight pre {
  white-space: pre;
}

.posts .post .read-more-link {
  margin-top: 1em;
}

.post.post-single h1 {
  margin-top: 0;
}

.post.post-single h2 {
  margin-top: 1.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1.0rem;
}

.post .post-info {
  margin: -0.5rem 0 0.5rem 0;
}

.post .post-info .post-date {
  display: inline;
  margin: 0;
}

.post .tags {
  list-style: none;
  padding: 0;
}

.post .tags li {
  display: inline-block;
  background: linear-gradient(#f7f7f7, #f0f0f0);
  border-left: 1px solid #fcfcfc;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #cccccc;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 5px;
}

.post .tags li a {
  margin: -1px;
  display: block;
  padding: 2px 10px;
  border-right: 5px solid #bf616a;
  border-left: 2px solid transparent;
  border-radius: 3px;
  font-size: 0.8em;
}

.post .tags li a:hover {
  background: #268bd2;
  border-right-color: #268bd2;
  text-decoration: none;
  color: #fff;
}
